*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Raleway', sans-serif;
	--ff-secondary: 'Crete Round', serif;

	--fw-reg:  300;
	--fw-bold: 900;

	--clr-grey: #EEEEEE;
	--clr-dark: #334257;
	--clr-light: #548CA8;
	--clr-mid: #476072;

	--fs-h1: 3.0rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
		  0.125rem 0.125em 0.25em rgba(0,0,0,.125);
}

@media (min-width:  800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body:  1.125rem;
	}
}

/* General Styles */

body {
	background: var(--clr-grey);
	color: var(--clr-dark);
	font-family: var(--ff-primary);
	margin: 0;
	line-height: 1.5;
	/*padding: 0em, 2em, 0em, 2em;*/
}

img {
	display: block;
	max-width: 100%;
}

h1, h2, h3 {
	line-height: 1.1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

section {
	padding: 5rem, 2rem;
}

/* typography */

.section-title {
	margin-bottom: .25em;
	font-size: var(--fs-h2);
}

.section-subtitle {
	margin: 0;
	font-size: var(--fs-h3);	
}



.section-title-intro {
	justify-content: center;
	bottom: 0;
}

/* NAV */

.navbar {
	background-image: linear-gradient(to bottom, var(--clr-dark), var(--clr-mid));
	/*font-family: 'Raleway', sans-serif;*/
	padding-right: 1em;
}

.nav-item {
	padding: 0 1.5em;
}

.nav-link {
	font-size: 1.2rem;
}

#navbarBrand {
	font-size: 2.5rem; 
	padding-left: 1em;
}

.header {
	background-color: #FFC074;
	padding: 3% 15%;
	/*background-image: linear-gradient(to bottom, #FFC074, #FAF1E6);*/
}


/*.navbar-brand {
	max-width: 200px;
	font-size: 2.5em;
	padding-left: 1em;
}
*/
.nav-list {
	display: flex;
	text-decoration: none;
}

.nav-item {
	text-decoration: none;
}

.navbar {
	background-color: var(--clr-dark);
}

/*header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.nav {
	position: fixed;
	background-color: var(--clr-dark);
	color: var(--clr-grey);
	top: 0;
	bottom: 0;

}*/

/* INTRO */

.intro {
	position: relative;
	background-color: var(--clr-mid);
	background-image: linear-gradient(to bottom, var(--clr-mid), var(--clr-light), var(--clr-grey));
	color: var(--clr-grey);
	padding: 1.5em;
	justify-content: center;
	display: grid;
	grid-column-gap: 1em;
	widows: min-content;
	margin: 0 auto;
	grid-template-areas: "img title" "img subtitle";
	grid-template-columns: min-content max-content;
}

@media screen and (max-width: 800px) {
	.intro {
		position: relative;
		background-color: var(--clr-mid);
		background-image: linear-gradient(to bottom, var(--clr-mid), var(--clr-light), var(--clr-grey));
		color: var(--clr-grey);
		padding: 1.5em;
		justify-content: center;
		display: flex;
		height: 100%;
	}

	.section-title-intro {
		justify-content: center;
		bottom: 0;
		display: inline-block;
		align-self: flex-end;
	}
}


.section-subtitle-intro {
	align-self: start;
	font-size: var(--fs-h3);
	background-color: var(--clr-dark);
	color: var(--clr-grey);
	padding-right: .5em;
	grid-row: 2;
	text-align: right;
	border-radius: 5px;
}

.project-img {
	box-shadow: var(--bs);
}

.intro {
/*		display: grid;
		grid-column-gap: 1em;
		widows: min-content;
		margin: 0 auto;
		grid-template-areas: "img title" "img subtitle";
		grid-template-columns: min-content max-content;*/
}

.profile-pic {
		grid-area: img;
		min-width: 250px;
		padding: 1.2em;
		border: 3px solid var(--clr-grey);
		border-radius: 100%;
		margin-top: 1em;
		justify-content: center;

}

@media (max-width: 800px) {
	.intro {
		display: grid;
		grid-column-gap: 1em;
		widows: min-content;
		margin: 0 auto;
		grid-template-areas: "img title" "img subtitle";
		grid-template-columns: min-content max-content;
	}

	.profile-pic {
		grid-area: img;
		min-width: 250px;
		padding: 1.2em;
		border: 3px solid var(--clr-grey);
		border-radius: 100%;
		margin-top: 1em;
		justify-content: center;

	}

}

/* WELCOME */

@media screen and (min-width: 1200px) {
	.welcome {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

	}
}



.section-title-welcome {
	text-align: center;
	padding: 1em;
}

.welcome-message {
	padding: 1em;
	margin: 0% 10%;
	font-size: var(--fs-h3);
	text-align: center;
	background-color: var(--clr-dark);
	color: var(--clr-light);
	border-radius: 10px;
}

.welcome-instructions {
	padding: 1em;
	margin: 0% 10%;
	font-size: var(--fs-h3);
	text-align: center;
	background-color: var(--clr-dark);
	color: var(--clr-light);
	border-radius: 10px;
}

.thanks {
	color: var(--clr-grey);
}

@media screen and (max-width: 1200px) {
	.welcome-message {
		display: block;
		border: 5px solid var(--clr-grey);
		border-radius: 10px;
	}

	.welcome-instructions {
		display: block;
		border: 5px solid var(--clr-grey);
		border-radius: 10px;
	}
}


/* PROJECTS */

.my-projects {
	background-color: var(--clr-grey);
	color: var(--clr-dark);
}

.section-subtitle-projects {
	color: var(--clr-mid);
	font-weight: var(--fw-bold);
	margin-bottom: 1em;
	text-align: center;
	font-family: var(--ff-primary);
}

.section-title-projects {
	text-align: center;
	padding-top: 1.5em;
}

.projects {
	display: grid;
	/*grid-template-columns: repeat(2, 1fr);*/
	grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
	padding: 2em;
	overflow: auto;
	justify-content: center;
}

@media screen and (min-width: 1850px) {
	.projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 2em;
	overflow: auto;
	justify-content: center;
	}
}

.project {
	padding: 2em;
	opacity: auto;

}

.project-img {
	transform: opacity 250ms linear;
	opacity: .75;
	border: 3px solid var(--clr-grey);
}

.project-img:hover,
.project-img:focus {
	transform: scale(1.02);
	opacity: 1;
	border: 3px solid var(--clr-dark);
	transition: 500ms;
}

.project-img:not(:hover) {
	transition: 500ms;
}

.project-subtitle {
	margin: 1.5em 0em;
	text-align: left;
	display: flex;
	font-family: var(--ff-secondary);
}

@media screen and (min-width: 1850px) {
	.project-subtitle {
		padding: 0% 10%;
	}
}


/* HOME PAGE SKILLS */

.my-skills {
	background-color: var(--clr-light);
	background-image: linear-gradient(to bottom, var(--clr-grey), var(--clr-light));
	color: var(--clr-grey);
	justify-content: center;
}

.skills-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	font-size: var(--fs-h3);
	justify-content: center;
}

.skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(60px, 120px));
	padding: 2em;
	overflow: auto;
	justify-content: center;
}

@media screen and (max-width: 1000px) {
	.skills {
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
	}

	.skills-image {
		width: 100px;
		height: 100px;
	}
}

/*@media (min-width: 20em) {
	.skills {
		flex-direction: row;
	}

	.skills > * {
		flex-basis: 100%;
	}
}*/



.skills-image {
	border: 5px solid transparent;
}

@media screen and (max-width: 1000px) {
	.skills-image {
		display: inline-grid;
	}
}

.skills-image:hover {
	border: 5px solid var(--clr-grey);
	border-radius: 50px;
}

.section-title-skills {
	padding-top: 1.5em;
	color: var(--clr-dark);
}



/* FOOTER */

.footer {
	background-color: var(--clr-dark);
	color: var(--clr-grey);
	text-align: center;
	padding: 2.5em 0;
	background-image: linear-gradient(to bottom, var(--clr-light), var(--clr-dark));
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0;
	padding: 0;
}

.social-list-link {
	color: var(--clr-grey);
	font-size: var(--fs-h3);
	padding: .5em;
}



.social-list-link:hover {
	opacity: .7;
	color: var(--clr-grey);
}

.social-list-item {
	text-decoration: none;
}

/* BEGIN CV PAGE!!!!! */

.my-cv {
	padding-right: 20%;
	padding-left: 20%;
}

@media screen and (max-width: 930px) {
	.my-cv {
		padding: 0% 5%;
	} 
}

.cv-title {
	text-align: center;
	background-color: var(--clr-light);
	color: var(--clr-grey);
	padding-top: 1em;
	padding-bottom: 1em;
	background-image: linear-gradient(to bottom, var(--clr-mid), var(--clr-light), var(--clr-grey));
}

.cv-subtitle {
	font-size: var(--fs-h3);
	text-align: center;
	color: var(--clr-light);
}

@media screen and (max-width: 700px) {
	.cv-subtitle {
		font-size: 16px;
	}
}

.skills-list-cv {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	font-size: var(--fs-h3);
	justify-content: center;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.skills-list-cv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	list-style: none;
/*	font-size: var(--fs-h3);
	justify-content: center;
	text-align: center;*/
	}
}



.section-title-skills {
	color: var(--clr-light);
}

.skill {
	text-align: center;
	margin: auto;
}

@media screen and (max-width: 1200px) {
	.skill {
		font-size: var(--fs-body);
	}
}

.section-title-experience {
	color: var(--clr-light);
	padding-top: 1em;
}

.experience-header {
	color: var(--clr-light);
	padding-top: 1.5em;
}

@media screen and (max-width: 700px) {
	.experience-header {
		font-size: 18px;
	}
}

.experience {
	list-style: square;
	font-family: var(--ff-secondary);
	font-size: var(--fs-body);
	padding-top: 1.5em;
}

.section-title-education {
	color: var(--clr-light);
	padding-top: 1.5em;
}

.education {
	padding-bottom: 1.5em;
}

.education-header {
	color: var(--clr-light);
	padding-top: 1em;
}

.education-header-sg {
	color: var(--clr-light);
	padding-top: 1em;
}

@media screen and (max-width: 700px) {
	.education-header {
		font-size: 14px;
	}
	.education-header-sg {
		font-size: 18px;
	}
}


.school-description {
	font-family: var(--ff-secondary);
	list-style: none;
	padding-top: 1.2em;
	font-size: var(--fs-body);
}

@media screen and (max-width: 700px) {
	.school-description {
		font-size: 14px;
	}
}

.footer-cv {
	background-color: var(--clr-dark);
	color: var(--clr-grey);
	text-align: center;
	padding: 2.5em 0;
	background-image: linear-gradient(to bottom, var(--clr-grey), var(--clr-light), var(--clr-dark));
}


/* ABOUT ME SECTION */
.drums {
	/*grid-template-columns: repeat(3, 1fr);*/
	grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
}

.drums-img {
	/*display: inline-flex;*/
	width: 50%;
	height: 50%;
	margin: auto;
	box-shadow: grey 1px 1px 10px;
	border: 3px solid var(--clr-light);
	/*grid-template-columns: repeat(3, 1fr);*/
	/*grid-template-rows: repeat(3, 1fr);*/
	grid-template-columns: repeat(auto-fit, minmax(300px, 600px));

}

figcaption {
	/*text-align: center;*/
}

figure {
	display: inline-block;
	text-align: center;
}



.img-caption {
	text-align: center;
}

@media only screen and (min-width : 320px) and (max-width : 600px) {
}












